@model MyMvcApp.Models.HomeworkViewModel
        <section class="section">
            <div class="mainDiv">
                <form asp-action="Create" method="post">
                    <input type="text" asp-for="HomeworkName" placeholder="Назва">
                    <input type="text" asp-for="HomeworkDescription" placeholder="Опис">
                    <input type="file">
                    <br>
                    <label for="start" class="finish">початок завдання</label>
                    <br>
                    <input type="datetime-local" asp-for="StartTime" value="" id="start">
                    <br>
                    <label for="finish" class="finish">здача завдання</label>
                    <br>
                    <input type="datetime-local" asp-for="SubmitTime" value="" id="finish">
                    <input type="submit" value="Створити" class="submit">
                </form>
            </div>
        </section>
            <section>
                <div class="table2">
                    <table class="table">
                       <thead class="table-dark th1">
                           <tr><th class="th">Номер</th><th>Назва</th><th>Опис</th><th>Дії</th></tr>
                       </thead>
                       <tbody>

                    @foreach(var homework in Model.homeworks)
                        {
                           <tr><td>@homework.HomeworkId</td>
                           <td>@homework.HomeworkName</td>
                           <td>@homework.HomeworkDescription</td>
                           <td><a type="button" asp-controller="HomeWork" asp-action="Edit" asp-route-id="@homework.HomeworkId" class="btn btn-dark">Редагувати</a>
                           <a type="button" asp-controller="HomeWork" asp-action="Details" asp-route-id="@homework.HomeworkId" class="btn btn-dark">Деталі</a>
                            <a type="button" asp-controller="HomeWork" asp-action="Delete" asp-route-id="@homework.HomeworkId" class="btn btn-danger">Видалити</a></td></tr>

                           


                        }
                    </table>    
                    </tbody>
                </div>
            </section>