@model MyMvcApp.Models.PlaceViewModel
<section class="section">
            <div class="mainDiv">
                <form asp-action="Create" method="post">
                    <input asp-for="Name" placeholder="Назва" />
                    <input asp-for="Address" placeholder="Адреса" />
                    <input type="submit" value="Створити" class="submit" />
                </form>
            </div>
        </section>
        <section>
            <div class="table2">
                    <table class="table">
                       <thead class="table-dark th1">
                           <tr><th class="th">Номер</th><th>Назва</th><th>Опис</th><th>Дії</th></tr>
                       </thead>
                       <tbody>
      



                        @foreach(var destination in Model.places)
                        {
                           <tr><td>@destination.PlaceId</td><td>@destination.DestinationName</td><td>@destination.DestinationAddress</td><td><a type="button" class="btn btn-secondary" asp-controller="Destination" asp-action="Edit" asp-route-id="@destination.PlaceId" class="btn btn-dark">Редагувати</a><a type="button" asp-controller="Destination" asp-action="Details" asp-route-id="@destination.PlaceId" class="btn btn-dark">Деталі</a></td></tr>
                            


                        }
                    </table>
                </div>
        </section>
        @section Scripts
        {
            <partial name="_ValidationScriptsPartial" />
        }